@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(/font/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(/font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(/font/OpenSans-Light.ttf);
}