*{
    margin: 0;
    padding: 0;
    font-family: "OpenSans-Regular";
}
html, body{
    font-family: "arial";
    font-size: 16px;
}
h2,h3,h4,h5,h6{
    font-family: "OpenSans-Bold";
}
:root {
    --color: #2c2e53;
    --background-color-box: #f3f3f3;
    --gray: #6d757d;
}