.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img {
    width: 80px;
}
section p {
    color: rgb(0, 133, 0);
}
section h4 {
    font-size: 18px;
}
nav {
    margin: 0 10rem;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
.transform {
    margin: 0 10rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.side section {
    text-align: center;
    margin: 1rem;
}
.collum {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.collum img{
    width: 250px;
}
.row {
    margin: 20px;
    width: 250px;
    padding: 10px;
}

.collum h4 {
    color: green;
    font-size: 16px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;

}
.span{
    display: block;
    border: 1px solid rgb(161, 160, 160);
    width: 20px;
    align-items: center;
    text-align: center;
    margin: 2px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-1 {
    display: flex;
}
footer img {
    width: 80px;
}
footer p {
    margin: 5px;
}